--- Page 1 ---
Version 3.0–11.03.20211
Appendix 1–Functional Requirements
The purpose of this information is to help you decide if you need any work place adjustments to help you achieve the full remit of your job role. If you
are unsure about any of the information below, you may contact the occupational health (OH)department on 020 7380 9056 and ask to speak to one
of the occupational health nurse advisers. You may also contact your recruiting manager if you are unsure about any aspect of your job/role or
workplace.
Health problemImpact on workAdjustments/support
Musculoskeletal
problems (back,
neck, joints etc)
Practicing medicine/surgery
generally involves physical
activity ie walking, standing,
running (in an emergency),
pushing, pulling, helping
patients to move and
transfer and working with
computers (Display Screen
Equipment(DSE)).
Most musculoskeletal problems are minor and resolve with or without
treatment. Some chronic problems may require adjustments if mobility,
strength, function or flexibility is impaired. If you require adjustments to your
work due to musculoskeletal problem, these can be arranged as long as they
are reasonably practicable.
Support is available from the staff physiotherapist, the moving and handling
team and the health and safety advisers.
Mental health
problems
Practicing medicine/surgery
is a busy and pressurised
job. Starting a new job or
being newly qualified can
add additional pressures.
Support is available from the staff psychological and welfare department, OH
and your manager. Please declare all mental health problems (including
work related stress). You will be contacted by an OH adviser for a
confidential discussion. Adjustments may be recommended
Skin conditions
i.e. eczema,
dermatitis,
allergies,
psoriasis
Practising medicine/surgery
involves hand washing using
soap, hand cleansers and
gloves. Working with broken
skin on hands is an infection
control risk.
Those with a pre existing skin problem require skin surveillance and may
need adjustments. Alternatives to most products can be found to
accommodate skin issues. Temporary adjustments may be made for those
with broken skin on their hands.
Those with suspected allergies may be referred for allergy testing.
Diabetes,
epilepsy, heart
conditions
Practicing medicine/surgery
often involves working shifts
(including nights) which may
have an impact on some
health conditions. This is
especially important if you
have not worked shifts
For most people it takes a little time to get used to shift patterns i.e. change
in dietary and sleep patterns. This may be made more difficult by some
health conditions. Temporary or permanent adjustments may be required.
Please declare all health conditions that may be affected by shift work.

--- Page 2 ---
Version 3.0–11.03.20212
before.
Dyslexia Practicing Medicine/Surgery
involves record keeping,
calculating drug doses,
reading complex medical
information and processing
complex information under
pressure.
Those with dyslexia will be contacted by the OH team to discuss the impact
that their dyslexia may have on their work. They may be asked to provide an
educational psychologist’s report to ensure that appropriate adjustments can
be recommended (where necessary).
Sensory
problems i.e.
hearing, sight
(that are not
corrected by
spectacles,
lenses or
hearingaids)
There are some
medical/surgical roles that
are more easily adapted for
those with sensory deficits
than others. There may
some health and safety
considerations i.e. fire
safety, access.
An assessment will be undertaken in regard to any sensory deficit that may
impact on the safety of staff or patients. It may be necessary to involve the
access to work team if significant adjustments are required.
Blood borne
viruses
All surgeons, Dentists,
medical staff in A&E,
Urology, General practice,
Obs and Gynae medical
staff, require clearance to
practice exposure prone
procedures (EPP)BEFORE
they start work.
Medical/surgical staff in these groups will be sent a questionnaire requesting
information on their Hepatitis B status. Those new to EPP will be asked to
provide information on their hepatitis C and HIV status as well.
All health care workers who are infected with a blood born virus have a legal
and ethical duty to inform OH in strictest confidence. Adjustments for EPP
workers may be required
All EPP staff must provide identity validated* Hepatitis B surface
antigen documentation. Identity validated documentary evidence of
hepatitis C and HIV status is also required for staff undertaking EPPs
for the first time.
Health clearance for EPP work cannot be given until these results have
been received and processed in OH.
*Identity Validated Sample (IVS) results will be stamped and signed by
an occupational health professional to say that valid ID was shown at
the time the blood was taken. Results/reports will not be accepted for

--- Page 3 ---
Version 3.0–11.03.20213
EPP purposes unless identity validated.
Health problemImpact on workAdjustments/support
Infectious
diseases
Health care workers are
sometimes exposed to
infectious diseases such as
TB, measles, chickenpox,
rubella. The trust also has a
duty to protect patients from
catching infectious diseases
from staff.
All health care staff must provide details of their immunisations and blood
test results to the occupational health department on their first day of work.
The OH team will assess whether or not further vaccinations or blood tests
are required to protect the health care worker and the patient.
If you have a condition that lowers your immunity to infections (inc. HIV), you
must inform OH so that adjustments can be made
Staff who patient facing role including those who undertake EPP must
provide documentary evidence of previous screening for
communicable disease and immunisation if they have this. This
information must be forwarded the OH department via email:
uclh.occupational.healthteam@nhs.net
Tuberculosis
(TB)
Those diagnosed with TB
will be fit to work once they
has been as deemed as
being non-infectious by their
treating specialist physician
and feel well enough to
commence work.
Adjustments in the
workplace may be requested
following assessment by
Occupational Health.
Those who have you lived in
a country where TB is
endemic for more than three
months in the last 5 years, or
worked in TB a high-risk
You must contact the OH department prior to starting work if you have the
following symptoms:
Persistent productive cough lasting more than 3 weeks
Coughing up blood
Fever and/or night sweats
Unexpected weight loss in the last 6 months

--- Page 4 ---
Version 3.0–11.03.20214
clinical setting for longer
than 4 weeks need to be
screened for latent TB.
COVID-19 Those who have any risk
factors to COVID-19 as
identified per Public Health
England guidelines need to
have a COVID risk
assessment undertaken
Where risks are identified, adjustments will be made to support staff to stay
well at work. Actions to be taken for staff will depend upon their condition
and how stable it is. Support can be sought from Occupational Health and
Human Resources if required.
Any other health
condition that
may impact on
your role
(please see job
description)
Some health conditions may
be exacerbated by working
as a doctor/surgeon or
impact on your ability to
perform all of your duties.
You may discuss any health condition that you think may affect your work, in
confidence, with the occupational health team. Where practicable,
adjustments will be made to help you achieve your full potential in the
workplace. Specific health conditions are not discussed with your manager
or any other third party without your consent.
New or
expectant
mothers.
Whilst not a health problem,
new or expectant mothers
have a legal right to a work
place risk assessment to
ensure that they are not
exposed to hazards in the
work place that may pose a
risk to themselves or their
unborn child.
You should inform your manager in writing that you are pregnant. On receipt
of this information, your manager will undertake a risk assessment. If any
risks/hazards are identified, adjustments will be made to minimise/remove
them. This may or may not include the OH department. If you would like
confidential advice in regard to work and pregnancy, you may self refer to
occupational health.
Food handlers Working around open food
while suffering from certain
infections (mainly from
bacteria and viruses) can
contaminate the food or
surfaces that the food may
come into contact with. This
can spread infection to other
people through the food.
You must contact Occupational Health prior to starting work if:
you suffering from or have you are suffered from diarrhoea and /or
vomiting, stomach pain, nausea or fever in the last seven days
currently have skin infections of the hands, arms or face e.g. boils,
styes, septic fingers, discharge from eye / ear / gums / mouth or
jaundice.
suffer from a recurring bowel disorder or recurring infections of the

--- Page 5 ---
Version 3.0–11.03.20215
skin, ear or throat
you have ever had typhoid or paratyphoid fever or are now known to
be a carrier of Salmonella Typhi or Paratyphi.
You are a carrier of any type of Salmonella
have you had contact with anyone in the last 21 days at home or
abroad, who may have been suffering from typhoid or paratyphoid
Sickness
absence
records
The trust will be asking your
referee about your sickness
absence record over the last
2 years.
If your sickness absence record gives your recruiting manager cause for
concern or if your absence hits one of the trigger points in the UCLH
sickness and absence policy, the recruitment team will refer you to
Occupational Health for an assessment with your consent. The purpose of
the assessment is to establish if there is an underlying health issue and if the
trust needs to make any reasonable adjustments for you.
